@model ViewsDemo.Models.ServerInfoViewModel

<ul>
    <li>Machine Name : @Model.MachineName</li>
    <li>Operating system : @Model.OperatingSystem</li>
    <li>CLR Version : @Model.CLRVersion</li>
    <li>CPU Cores : @Model.Cores</li>
</ul>

